<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.hs.emirim.s2019s40.soulmateproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".WeatherActivity"></activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_config" />

        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".Sunny" />
        <activity android:name=".Sunny_Dress" />
        <activity android:name=".Sunny_Food" />
        <activity android:name=".Sunny_Place" />
        <activity android:name=".Cloudy" />
        <activity android:name=".Cloudy_Dress" />
        <activity android:name=".Cloudy_Food" />
        <activity android:name=".Cloudy_Place" />
        <activity android:name=".Rain_and_Snow" />
        <activity android:name=".Rain_and_Snow_Dress" />
        <activity android:name=".Rain_and_Snow_Food" />
        <activity android:name=".Rain_and_Snow_Place" />
        <activity
            android:name=".Place.DarkCafe"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.Shapes"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.VauncePark"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.DynamicMaze"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.AnimalZoo"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.ToginMarket"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.CampVR"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.YouthWorkShop"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.SportMonster"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.RealGunShot"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.RoofAndCloud"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.RunningmanExperience"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.DgrandBlueStudio"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.HwanseonCave"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.FlyingGyeonju"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.JadenGarden"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.CheeseTemapark"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.SwissTemapark"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.SongdoMarineCableCar"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.PrettyFrance"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.Botania"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.WindHill"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Place.ArtVillage"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.SeaFoodNurungjisoup"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.HotChocolate"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ToumbaPasta"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.CornCheese"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.TwoDotsBakery"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Kalguksu"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ChickenSteak"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.AbalonePorridge"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.JstyleSteamedEggs"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.JstyleStirfiryUdon"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.SquidStirfry"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BeefBrisketbeanSprouts"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Sangria"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.RicePizza"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.RiceBuger"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.MilkyouNabe"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.RiceCakeSkewer"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.SirloinSteak"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.KkanpungTofu"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ChickenKebabs"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.CarbonaraTteokbokki"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.CrabCroquette"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.KimchiBulgogiBurrtio"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.PotatoShirmpRice"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Gambas"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.PikachuPorkcutlet"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ChopSteak"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BeefVegetableMari"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.PorkBellyKimbap"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BlueberryYogurtSmoothie"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Brownie"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BaconEggCup"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.MorningBreadHambuger"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.PannePasta"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.StrawBerryAde"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ChickenSoup"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Okonomiyaki"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.KimchiFriedRice"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.HongKongBanjeom"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Koyako"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.GinMaratang"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Amar"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ArongStarTable"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Suchiichiza"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BugerLab"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.MukMyeokSanBang"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.DongGiGan"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.DoChef"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ChickenCompany"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.PotatoPizza"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.PFChangs"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.PremiumSum"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.LogHouseDakgalbi"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.TanksTakbogi"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ItaliPaPa"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.WolfgangsSteakHouse"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.AllThePlate"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Otoya"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.ZeroNineKitchen"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.YankeeChicken"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.AppleHouse"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.AlexsPlace"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.SuhebokMaratang"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.MountainFarm"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BimBom"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.VaultSteakHouse"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BisonBurger"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.RedBrick"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.Lasiestar"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.DesigneryCafe"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.HeartyMeal"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.TokyoWalk"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.TheMeltingPot"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.LegsHouse"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.NipongNaepong"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.FearlessRabbit_Kit"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Food.BltStake"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Dress.OverWool"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Dots"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Flower"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.BigTwist"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Bokashi"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Mohe"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.LamWools"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Colour"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Pastel"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Rollring"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Combi"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Semi"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Wakeu"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Abo"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Popori"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Molly"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.SpanSkirtPants"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Dorin"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.LightLab"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Hurming"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Bermuda"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.EasyHalf"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.PinTuck"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.HalfWashing"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.ThinCotton"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.PigMunt"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.ComfortHode"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Peoples"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.ImBear"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.PeachPangPang"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.SimpleTraing"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Binding"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.PocketBoxy"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.LooseFitShortSleeve"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.OverFitShortSleeve"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.IfCanSee"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.HeavyBox"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.ManyColorLSleeve"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.SheepGimo"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.GoodDay"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.ChoiceDaily"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.PortLand"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.GimoV"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.AutumnSheep"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Mozic"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.WideBanding"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.DontTakeOff"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.BootsCut"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.CottonPants"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.CheckWide"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.GimoWideSlacks"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.FilpPuff"
            android:theme="@style/NoActionbar" />
        <activity
            android:name=".Dress.TwistPuff"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.PuffCuffs"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.FrillLong"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.LooseFit"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.CableCara"
            android:theme="@style/NoActionbar"/>

        <activity
            android:name=".Dress.BellaHodeOnepiece"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.PuffLongOnepiece"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.TwistKnit"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.HalfPaulKnit"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.Raitdangra"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.DateBoxT"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.BoxSleeve"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.HalfCropKnit"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.HodeCropZipUp"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.BoxCropHode"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.OverCropKint"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.OverFitFluff"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.UrbanUlspanPaula"
            android:theme="@style/NoActionbar"/>
        <activity
            android:name=".Dress.FourSeasonLooseShortSleeve" />
        <activity android:name=".RainAndSnowFW" />
        <activity android:name=".RainAndSnowSS" />
        <activity android:name=".CloudyFW" />
        <activity android:name=".CloudySS" />
        <activity android:name=".SunnyFW" />
        <activity android:name=".SunnySS" />
        <!--dress 끝-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="gn4chdbqug" />

    </application>

</manifest>